---
layout: default
title: Latest Releases and Commits Since
description: See releases and commits since for eustasy repositories
---

{% assign org_href = "https://github.com/eustasy" %}

<script defer src="sortable.mega-advanced.min.js"></script>

<style>

  .wrapper {
    max-width: 1080px;
    width: auto;
  }

  section {
    width: calc(100% - 270px);
  }

  h1,
  a:focus,
  a:hover {
    font-weight: normal;
  }

  .name {
    display: block;
    font-weight: normal;
    color: inherit;
  }

  .status {
    background-color: rgba(212, 212, 212, 0.5);
    border-radius: 1em;
    color: #555761;
    font-size: 0.85em;
    padding: 0.15em 0.75em;
  }

  .version a,
  .status a {
    color: inherit;
    font-weight: inherit;
  }

  .good {
    background-color: rgba(209, 255, 130, 0.5);
    color: #206b00;
  }

  .warn {
    background-color: rgba(255, 243, 148, 0.5);
    color: #ad5f00;
  }

  .critical {
    background-color: rgba(255, 140, 130, 0.5);
    color: #7a0000;
  }

  .beta {
    color: #ad5f00;
  }

  .alpha {
    color: #7a0000;
  }

</style>

<table class="releases sortable">
  <thead>
    <th>Repository</th>
    <th>Release</th>
    <th>Status</th>
  </thead>
  <tbody>
  {% for repo in site.data.unreleased_commits %}
    {% unless site.data.blacklist contains repo.name %}
    {% assign repo_href = org_href | append: "/" | append: repo.name %}
    {% assign commits_href = repo_href | append: "/compare/" | append: repo.releases.first.version | append: "...master" %}
    <tr id="{{ repo.name }}" >
      <td data-sort="{{ repo.name }}">
        <a href="{{ repo_href }}" class="name">{{ repo.name }}</a>
        {% if repo.releases.first.version contains 'alpha' %}
        {% assign classes = "alpha version" %}
        {% elsif repo.releases.first.version contains 'beta' %}
        {% assign classes = "beta version" %}
        {% else %}
        {% assign classes = "version" %}
        {% endif %}
        <a class="{{classes}}" href="{{ repo.releases.first.href }}">{{ repo.releases.first.version }}</a>
      </td>
      <td data-sort="{{ repo.releases.first.release_date }}">
         {% assign rd = repo.releases.first.release_date %}
        <time datetime="{{ rd }}">
          {% assign d = rd | date: "%-d"  %}
          {{ rd | date: "%B" }}
          {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
          {{ rd | date: "%Y" }}
        </time>
        <br>
        <sub class="human-readable-subtitle"><time datetime="{{ rd }}">
          {{ repo.releases.first.timeago }}
        </time></sub>
      </td>
      <td data-sort="{{ repo.new_commits }}">
        {% if repo.new_commits == 0 %}
          <span class="status good">Up to date</span>
        {% elsif repo.new_commits == 1 %}
          <span class="status">
            <a href="{{ commits_href }}">{{ repo.new_commits }} commit</a>
          </span>
        {% elsif repo.new_commits > 1 and repo.new_commits < 10 %}
          <span class="status">
            <a href="{{ commits_href }}">{{ repo.new_commits }} commits</a>
          </span>
        {% elsif repo.new_commits >= 10 and repo.new_commits < 20 %}
          <span class="status warn">
            <a href="{{ commits_href }}">{{ repo.new_commits }} commits</a>
          </span>
         {% elsif repo.new_commits >= 20 %}
          <span class="status critical">
            <a href="{{ commits_href }}">{{ repo.new_commits }} commits</a>
          </span>
        {% endif %}
      </td>
    </tr>
    {% endunless %}
  {% endfor %}
  </tbody>
</table>

{% assign st = site.time %}
<p><small>Last updated <time datetime="{{ st }}" title="{{ st }}">
  {% assign d = st | date: "%-d"  %}
  {{ st | date: "%B" }}
  {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
  {{ st | date: "%Y at %r %Z" }}
</time>.</small></p>
