---
layout: default
title: Latest Releases and Commits Since
description: See releases and commits since for eustasy repositories
---

{% assign org_href = "https://github.com/eustasy" %}

<script defer src="sortable.mega-advanced.min.js"></script>

<table class="releases sortable">
  <thead>
    <th>Repository</th>
    <th>Release</th>
    <th>Status</th>
  </thead>
  <tbody>
  {% for repo in site.data.unreleased_commits %}
    {% unless site.data.exclusions contains repo.name %}
    {% assign repo_href = org_href | append: "/" | append: repo.name %}
    {% for branch in repo.branches %}
    {% assign release = branch.release %}
    {% assign commits_href = repo_href | append: "/compare/" | append: release.version | append: "..." | append: branch.name %}
    <tr id="{{ repo.name }}{% if repo.branches.size > 1 %}-{{ branch.name }}{% endif %}" >
      <td data-sort="{{ repo.name }}">
        <a href="{{ repo_href }}" class="name">{{ repo.name }}</a>
        {% if repo.branches.size > 1 %}
        <a class="branch" href="{{ repo_href }}/tree/{{ branch.name }}">{{ branch.name }}</a>
        {% endif %}
        {% if release.version contains 'alpha' %}
        {% assign classes = "alpha version" %}
        {% elsif release.version contains 'beta' %}
        {% assign classes = "beta version" %}
        {% else %}
        {% assign classes = "version" %}
        {% endif %}
        <a class="{{classes}}" href="{{ release.href }}">{{ release.version }}</a>
      </td>
      <td data-sort="{{ release.release_date }}">
         {% assign rd = release.release_date %}
        <time datetime="{{ rd }}">
          {% assign d = rd | date: "%-d"  %}
          {{ rd | date: "%B" }}
          {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
          {{ rd | date: "%Y" }}
        </time>
        <br>
        <sub class="human-readable-subtitle"><time datetime="{{ rd }}">
          {{ release.timeago }}
        </time></sub>
      </td>
      <td data-sort="{{ branch.new_commits }}">
        {% if branch.new_commits == 0 %}
          <span class="status good">Up to date</span>
        {% elsif branch.new_commits == 1 %}
          <span class="status">
            <a href="{{ commits_href }}">{{ branch.new_commits }} commit</a>
          </span>
        {% elsif branch.new_commits < 3 %}
          <span class="status">
            <a href="{{ commits_href }}">{{ branch.new_commits }} commits</a>
          </span>
        {% elsif branch.new_commits < 10 %}
          <span class="status warn">
            <a href="{{ commits_href }}">{{ branch.new_commits }} commits</a>
          </span>
         {% else %}
          <span class="status critical">
            <a href="{{ commits_href }}">{{ branch.new_commits }} commits</a>
          </span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% endunless %}
  {% endfor %}
  </tbody>
</table>

{% capture no_releases_present %}{% for repo in site.data.no_releases %}{% unless site.data.exclusions contains repo.name %}x{% endunless %}{% endfor %}{% endcapture %}
{% if no_releases_present != "" %}
<h2>No Releases</h2>
<p>These repositories have no published releases:</p>
<ul class="no-releases">
  {% for repo in site.data.no_releases %}
  {% unless site.data.exclusions contains repo.name %}
  <li><a href="{{ org_href }}/{{ repo.name }}/releases" class="name">{{ repo.name }}</a></li>
  {% endunless %}
  {% endfor %}
</ul>
{% endif %}

{% assign st = site.time %}
<p><small>Last updated <time datetime="{{ st }}" title="{{ st }}">
  {% assign d = st | date: "%-d"  %}
  {{ st | date: "%B" }}
  {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
  {{ st | date: "%Y at %r %Z" }}
</time>.</small></p>
