---
layout: default
title: Merge Types
description: Which merge types are allowed in each repository?
---

{% assign org_href = "https://github.com/eustasy" %}

<script defer src="sortable.mega-advanced.min.js"></script>

<style>

  .wrapper {
    max-width: 1080px;
    width: auto;
  }

  section {
    width: calc(100% - 270px);
  }

  h1,
  a:focus,
  a:hover {
    font-weight: normal;
  }

  .name {
    display: block;
    font-weight: normal;
    color: inherit;
  }

  .status {
    background-color: rgba(212, 212, 212, 0.5);
    border-radius: 1em;
    color: #555761;
    font-size: 0.85em;
    padding: 0.15em 0.75em;
  }

  .version a,
  .status a {
    color: inherit;
    font-weight: inherit;
  }

  .good {
    background-color: rgba(209, 255, 130, 0.5);
    color: #206b00;
  }

  .warn {
    background-color: rgba(255, 243, 148, 0.5);
    color: #ad5f00;
  }

  .critical {
    background-color: rgba(255, 140, 130, 0.5);
    color: #7a0000;
  }

  .beta {
    color: #ad5f00;
  }

  .alpha {
    color: #7a0000;
  }

</style>

<table class="releases sortable">
  <thead>
    <th>Repository</th>
    <th>Rebase</th>
    <th>Squash</th>
    <th>Commit</th>
  </thead>
  <tbody>
  {% for repo in site.data.merge_types %}
    {% unless site.data.exclusions contains repo.name %}
    {% assign repo_href = org_href | append: "/" | append: repo.name %}
    <tr id="{{ repo.name }}" >
      <td data-sort="{{ repo.name }}">
        <a href="{{ repo_href }}" class="name">{{ repo.name }}</a>
      </td>
      <td data-sort="{{ repo.allow_rebase_merge }}">
        {% if repo.allow_rebase_merge == "True" %}
          <span class="status good">{{ repo.allow_rebase_merge }}</span>
        {% elsif repo.allow_rebase_merge == "False" %}
          <span class="status critical">{{ repo.allow_rebase_merge }}</span>
        {% else %}
          <span class="status">{{ repo.allow_rebase_merge }}</span>
        {% endif %}
      </td>
      <td data-sort="{{ repo.allow_squash_merge }}">
        {% if repo.allow_squash_merge == "True" %}
          <span class="status good">{{ repo.allow_squash_merge }}</span>
        {% elsif repo.allow_squash_merge == "False" %}
          <span class="status critical">{{ repo.allow_squash_merge }}</span>
        {% else %}
          <span class="status">{{ repo.allow_squash_merge }}</span>
        {% endif %}
      </td>
      <td data-sort="{{ repo.allow_merge_commit }}">
        {% if repo.allow_merge_commit == "true" %}
          <span class="status good">{{ repo.allow_merge_commit }}</span>
        {% elsif repo.allow_merge_commit == "false" %}
          <span class="status">{{ repo.allow_merge_commit }}</span>
        {% else %}
          <span class="status critical">{{ repo.allow_merge_commit }}</span>
        {% endif %}
      </td>
    </tr>
    {% endunless %}
  {% endfor %}
  </tbody>
</table>

{% assign st = site.time %}
<p><small>Last updated <time datetime="{{ st }}" title="{{ st }}">
  {% assign d = st | date: "%-d"  %}
  {{ st | date: "%B" }}
  {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
  {{ st | date: "%Y at %r %Z" }}
</time>.</small></p>
