       <ul class="navigation">
          <li><a href="{{ "/" | absolute_url }}">Latest Releases and Commits Since</a></li>
          <li><a href="{{ "/community_checks" | absolute_url }}">Community Checks</a></li>
          <li><a href="{{ "/dependabot" | absolute_url }}">Dependabot</a></li>
          <li><a href="{{ "/labels" | absolute_url }}">Labels</a></li>
          <li><a href="{{ "/licenses" | absolute_url }}">Licenses</a></li>
          <li><a href="{{ "/merge_types" | absolute_url }}">Merge Types</a></li>
          <li><a href="{{ "/normal_checks" | absolute_url }}">Normal Checks</a></li>
        </ul>
